---
import { Image } from "astro:assets";
import SocialShare from "../components/SocialShare.astro";

const { frontmatter } = Astro.props;
const img = frontmatter.image.url
---
<section>


<article class="mv-wrapper flex flex-col space-y-4 items-center">
  <div class="w-full">
    <ul class="flex space-x-2 font-semibold mb-2">
        {frontmatter.stack.map((item:string)=>(
            <li>{item}</li>
        ))}
    </ul>
    <h1 class="text-2xl mb-2 font-semibold">{frontmatter.title}</h1>
    <h3>{new Date(frontmatter.pubDate).toLocaleString('en-US', { timeZoneName: 'short' })}</h3>
  </div>
  <figure class="bg-slate-100 w-full max-h-[400px] overflow-hidden">
    <Image
      src={img}
      loading="lazy"
      height={400}
      width={400}
      class="w-full object-cover"
      alt={frontmatter.title}
    />
  </figure>
  <div class="col-span-2">
    <slot />  
  </div>
  <SocialShare/>
</article>
</section>