---
import '../assets/css/global.css'

const menu=[
    {link:'learning_paths', label:'learning paths'},
    {link:'challenges', label:'challenges'},
    {link:'solutions', label:'solutions'},
    {link:'login', label:'login with github'}
]
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Shopify Mentor</title>
	</head>
	<body>
		<header>
            <nav class="mv-wrapper flex justify-between items-center py-4">
                <div><a href="/" class="text-2xl font-semibold">Shopify Mentor</a></div>
                <ul class="flex space-x-4">
                    {menu.map(({link, label})=>(
                      <li><a href={'/' + link} class={`${label.includes('login') ? 'bg-slate-800 py-2 px-4 rounded text-teal-50' :'' } capitalize text-sm font-semibold`}>{label}</a></li>  
                    ))}
                    
                </ul>
            </nav>
        </header>
        <slot/>
        <footer class="mt-auto bottom-0">
            <div class="mv-wrapper py-8">
                <p class="text-slate-600 text-center">&copy; Shopify Mentor</p>
            </div>
        </footer>
	</body>
</html>
